appdirs==1.4.3
click==6.7
colorama==0.3.9
docopt==0.6.2
isodate==0.5.4
itsdangerous==0.24
Jinja2==2.9.6
json2yaml==1.1.1
MarkupSafe==1.0
ontospy==1.8.6
packaging==16.8
pyaml==16.12.2
pyfiglet==0.7.5
PyLD==0.7.2
pyparsing==2.2.0
pyyaml>=4.2b1
rdflib==4.2.2
rdflib-jsonld==0.4.0
six==1.10.0
SPARQLWrapper==1.8.0
unicodecsv==0.14.1
Werkzeug==0.15.5
flask>=0.12.3
requests>=2.20.0

